.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.main-container {
  width: 80%;
  /* height: 350px; */
  margin: 2% 10%;
}

.chart-container {
  width: 100%;
  /* height: 350px; */
  display: flex;
  align-items: flex-start;
  justify-content: space-around ;
}

.data-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.data {
  width: 95%;
  height: 85%;
  margin: 1% 0
}